@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.nunito {
  font-family: 'Nunito Sans', sans-serif;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.orbit-container {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    padding-bottom: 75%;
    padding-top: 5%;
  
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    border-radius: 50%;
    position: absolute;
    border-style: solid;
    border: 0.001px solid rgb(234, 233, 233) ;
    /*#cde9ef*/
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
  }
  
  .circle1 {
    width: 100%;
    height: 100%;
    animation: rotate1 10s linear infinite;
  }
  
  .circle2 {
    width: 80%;
    height: 80%;
    animation: rotate2 15s linear infinite;
  }
  
  .circle3 {
    width: 60%;
    height: 60%;
    animation: rotate3 20s linear infinite;
  }
  
  .circle4 {
    width: 40%;
    height: 40%;
    animation: rotate4 25s linear infinite;
  }
  
  .item {
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .item {
      width: 10%;
      height: 10%;
      min-width: 20px;
      min-height: 20px;
    }
  }
  
  .circle1 .item1,
  .circle2 .item1,
  .circle3 .item1,
  .circle4 .item1 {
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle1 .item2,
  .circle2 .item2,
  .circle3 .item2,
  .circle4 .item2 {
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @keyframes rotate1 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes rotate2 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes rotate3 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes rotate4 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  
  @keyframes typewriter {
    from { width: 0; }
    to { width: 25ch; } /* Adjust the value of ch based on the length of the text */
  }
  
  @keyframes blinkTextCursor {
    from { border-right-color: rgba(0, 0, 0, .75); }
    to { border-right-color: transparent; }
  }
  
  .typewriters {
    display: inline-block;
    padding-right: 1px;
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typewriter 4s steps(15, end) 3s infinite normal both, /* Adjust the steps value to match the character count */
      blinkTextCursor .75s step-end infinite;
  }
  .typewriter::before {
    content: '→ '; /* Adjust the arrow style as needed */
  
    color: rgba(0, 0, 0, .75); /* Same color as cursor */
  }
  
  .background-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(66,186,228,0.11110381652661061) 65%, rgba(255,255,255,1) 100%);
  }



.App-link {
  color: #61dafb;
}
.ql-editor a,#articleBody a{
  color:#42BAE4 !important;
  text-decoration:none !important
}

/* custom-quill.css */
.ql-container {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}

.ql-editor a {
  color: blue;
}

.ql-editor {
  min-height: 50vh;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],

.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}