.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ql-editor a,#articleBody a{
  color:#42BAE4 !important;
  text-decoration:none !important
}

/* custom-quill.css */
.ql-container {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}

.ql-editor a {
  color: blue;
}

.ql-editor {
  min-height: 50vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
